# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales
.venv/
venv/
ENV/
env/

# PyInstaller
build/
dist/
*.spec

# Archivos temporales de iconos
icon.iconset/

# IDEs
.vscode/
.idea/
*.swp
*.swo

